@mixin breakpoints($point) {
@if $point == mobile {
    @media (max-width: 847px){
        @content;
    }
} @else if $point == small {
    @media (min-width: 848px) and (max-width:1277px){
        @content;
    }
}  @else if $point == medium {
    @media (min-width: 992px) and (max-width:1199px){
        @content;
    }
} @else if $point == large {
    @media (min-width: 1200px){
        @content;
    }
}
}



// لعمل ريسبونسف بيطلع من الجنب

// css
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@include breakpoints(mobile){
    .nav{
        height: 70px;
        .img{
            width: 60px;
            height: 60px;
        }
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: rgb(139, 10, 10);
            top: 80px;
            left:-100%;
            text-align: center;
            transition-duration: 400ms;
            li{
                display: block;
                line-height: 100px;
                font-size: 25px;
            }a:hover{
                background-color: #fff;
                padding: 10px;
                border-radius: 5px;
            }
        }
        #check:checked ~ ul{
          left: 0;
        }
    }
 
}

