@use "./mixin" as *;
*{
    padding: 0;
    margin: 0;
    // overflow: hidden;
    box-sizing: border-box;
}
// navbar
.nav{
    width: 100%;
    height: 50px;
    background-color: #149ddd;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin: {
            top: 5px;
            left: 20px;
        }; 

}
ul{
  position: absolute;
 right: 200px;
}
li{
    display: inline-block;
    list-style-type: none;
    margin: {
        right: 50px;
    };

}
a{
    text-decoration: none;
    color: #fff;
    transition-duration: 300ms;
}a:hover{
    color: rgb(9, 7, 4);
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
}
@include breakpoints(mobile){
    .nav{
        height: 70px;
        .img{
            width: 60px;
            height: 60px;
        }
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #149ddd;
            top: 70px;
            left:-100%;
            text-align: center;
            transition-duration: 400ms;
            li{
                display: block;
                line-height: 100px;
                font-size: 25px;
            }a:hover{
                background-color: #fff;
                padding: 10px;
                border-radius: 5px;
            }
        }
        #check:checked ~ ul{
          left: 0;
        }
    }
 
}
// sec2
.sec1{
    width: 100%;
    height: 100vh;
 background-image: url(../img/13.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size:100% 100vh;
 background-attachment: fixed;
 text-align: center;
 position: relative;
 .d1{
   h1{
    font-size: 50px;
    text-shadow: 2px 2px 5px #149ddd;
   }
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   
}
}
// sec2
.sec2{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 20px;
    
    .d1{
        width: 100%;
        height: 200px;
        background-color: rgb(9, 37, 147);
        text-align: center;
        border-radius:10px ;
      
        p{
    padding: 20px;
    }
    .btn{
 padding: 10px 35px;
 border-radius: 5px;
background-color: #149ddd;
color: #fff;
border: none;
cursor: pointer;
margin-top: 20px;
}
}

}
 @include breakpoints(mobile){
    .sec2{
        grid-template-columns: repeat(1,98%);
        height:350vh ;
    }
 }
 @include breakpoints(small){
    .sec2{
        height: 190vh;
       
    }
    
 }

//  sec3
.sec3{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    .d1{
        width: 100%;
        height: 200px;
        position: relative;
       
        .img{
     width: 100%;
    height: 100%;
 position: absolute;
 border-radius: 15px;
}
    }
}

@include breakpoints(mobile){
    .sec3{
        grid-template-columns: repeat(1,98%);
        height:350vh ;
        .d1{
            width: 100%;
        }
    }
 }
 @include breakpoints(small){
    .sec3{
        height: 190vh;

       
    }
    
 }

//  sec4
/* start Testimonials */
.sec8{
    width: 100%;
    height:600px;
    background-color: #f5f8fd;
    // margin-left: 304px;
    .d1{
        display: inline-block;
        margin-top: 30px;
        margin-left: 120px;
        margin-bottom: 10px;
        h2{
            font-size: 30px;
            color: #173b6c;
            position: relative;
            
        }h2::after{
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: #149ddd;
            left: 0px;
            bottom: -10px;
        }
        p{
            margin-top: 20px;
            font-size: 17px;
            opacity: .8;
            line-height: 25px;
        }
    }

    .container{
        margin-top: 0px;
        position: relative;
    }
    .swiper{
        width: 80%;
        
    }
    .section{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -0px;
        .image{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            padding: 3px;
            background-color: #149ddd;
            object-fit: cover;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .card {
            padding: 5px;
            background-color: #fff;
            border-radius: 20px;
            position: relative;
            margin: 20px 0;
           
        }.card::before{
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            background-color: #0d6efd;
            border-radius: 20px 20px  0 0;
            left: 0;
            top: 0;
        }
        .card-content{
            /* width: 200px; */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            position: relative;
            z-index: 100;
        }
        .media-icons{
            position: absolute;
            top: 10px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            i{
                color: #fff;
                opacity: .7;
                margin-top: 10px;
                cursor: pointer;
                transition-duration: 200ms;
            }i:hover{
                opacity: 1;
            }
        
        }
        .nam{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
            .name{
                font-size: 20px;
                font-weight: bold;
            
                
            }
            .port{
                font-size: 25px;
                font-weight: 600px;
            
            }
        }
        .stars{
            display: flex;
            justify-content: center;
            color: #0d6efd;
            margin-top: 10px;
            i{
                margin: 0 2px;
            }
        }
        .mmmm{
            position: absolute;
            bottom: 0px; 
        }


    

    }
}

/* end Testimonials */