.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 847px) {
  .nav {
    height: 70px;
  }
  .nav .img {
    width: 60px;
    height: 60px;
  }
  .nav .checkbtn {
    display: block;
  }
  .nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(139, 10, 10);
    top: 80px;
    left: -100%;
    text-align: center;
    transition-duration: 400ms;
  }
  .nav ul li {
    display: block;
    line-height: 100px;
    font-size: 25px;
  }
  .nav ul a:hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  .nav #check:checked ~ ul {
    left: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #149ddd;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 5px;
  margin-left: 20px;
}
.nav ul {
  position: absolute;
  right: 200px;
}
.nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 50px;
}
.nav a {
  text-decoration: none;
  color: #fff;
  transition-duration: 300ms;
}
.nav a:hover {
  color: rgb(9, 7, 4);
}
.nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}
.nav #check {
  display: none;
}

@media (max-width: 847px) {
  .nav {
    height: 70px;
  }
  .nav .img {
    width: 60px;
    height: 60px;
  }
  .nav .checkbtn {
    display: block;
  }
  .nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #149ddd;
    top: 70px;
    left: -100%;
    text-align: center;
    transition-duration: 400ms;
  }
  .nav ul li {
    display: block;
    line-height: 100px;
    font-size: 25px;
  }
  .nav ul a:hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  .nav #check:checked ~ ul {
    left: 0;
  }
}
.sec1 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
  text-align: center;
  position: relative;
}
.sec1 .d1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sec1 .d1 h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #149ddd;
}

.sec2 {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-top: 20px;
}
.sec2 .d1 {
  width: 100%;
  height: 200px;
  background-color: rgb(9, 37, 147);
  text-align: center;
  border-radius: 10px;
}
.sec2 .d1 p {
  padding: 20px;
}
.sec2 .d1 .btn {
  padding: 10px 35px;
  border-radius: 5px;
  background-color: #149ddd;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 847px) {
  .sec2 {
    grid-template-columns: repeat(1, 98%);
    height: 350vh;
  }
}
@media (min-width: 848px) and (max-width: 1277px) {
  .sec2 {
    height: 190vh;
  }
}
.sec3 {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.sec3 .d1 {
  width: 100%;
  height: 200px;
  position: relative;
}
.sec3 .d1 .img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
}

@media (max-width: 847px) {
  .sec3 {
    grid-template-columns: repeat(1, 98%);
    height: 350vh;
  }
  .sec3 .d1 {
    width: 100%;
  }
}
@media (min-width: 848px) and (max-width: 1277px) {
  .sec3 {
    height: 190vh;
  }
}
/* start Testimonials */
.sec8 {
  width: 100%;
  height: 600px;
  background-color: #f5f8fd;
}
.sec8 .d1 {
  display: inline-block;
  margin-top: 30px;
  margin-left: 120px;
  margin-bottom: 10px;
}
.sec8 .d1 h2 {
  font-size: 30px;
  color: #173b6c;
  position: relative;
}
.sec8 .d1 h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  left: 0px;
  bottom: -10px;
}
.sec8 .d1 p {
  margin-top: 20px;
  font-size: 17px;
  opacity: 0.8;
  line-height: 25px;
}
.sec8 .container {
  margin-top: 0px;
  position: relative;
}
.sec8 .swiper {
  width: 80%;
}
.sec8 .section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.sec8 .section .image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 3px;
  background-color: #149ddd;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec8 .section .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sec8 .section .card {
  padding: 5px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  margin: 20px 0;
}
.sec8 .section .card::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #0d6efd;
  border-radius: 20px 20px 0 0;
  left: 0;
  top: 0;
}
.sec8 .section .card-content {
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 100;
}
.sec8 .section .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec8 .section .media-icons i {
  color: #fff;
  opacity: 0.7;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}
.sec8 .section .media-icons i:hover {
  opacity: 1;
}
.sec8 .section .nam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sec8 .section .nam .name {
  font-size: 20px;
  font-weight: bold;
}
.sec8 .section .nam .port {
  font-size: 25px;
  font-weight: 600px;
}
.sec8 .section .stars {
  display: flex;
  justify-content: center;
  color: #0d6efd;
  margin-top: 10px;
}
.sec8 .section .stars i {
  margin: 0 2px;
}
.sec8 .section .mmmm {
  position: absolute;
  bottom: 0px;
}

/* end Testimonials *//*# sourceMappingURL=min.css.map */