*{
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
   /* overflow: hidden; */
}
html{
    scroll-behavior: smooth;
}
/* start sec1 */
.sec1{
    display: flex;
}
/* start nav */
.nav{
    width: 20%;
height: 723px;
background-color: #040b14;
text-align: center;
position: fixed;
z-index: 100;

}
.nav .d1{
    display: inline-block;
margin-top: 50px;
}
.nav .d1 img{
    width:40% ;
    height: 40%;
    border-radius: 50%;
    border: 8px solid #2c2f3f;
    margin-bottom: 10px;
}
.nav .d1 h2{
    color: #fff;
    margin-bottom: 20px;
}
.nav .d1 .icons{
display: flex;
justify-content: center;
}
.nav .d1 .icons .icon{
    width: 35px;
    height: 35px;
    background-color:#2c2f3f;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}
.nav .d1 .icons .icon:hover{
    background-color: #149ddd;
}
.nav .d1 .icons i{
    
    color: #fff;
 margin-top: 10px;
}

.nav .d2{
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
}
.nav .d2 ul li{
    width: 100px;
    list-style-type: none;
    transition-duration: 300ms;
    cursor: pointer;
    margin-bottom: 20px;
   display: flex;
}
.nav .d2 ul li:hover i{
color: #149ddd;
}
.nav .d2 ul li:hover a{
    color: #fff;
}

.nav .d2 ul li a:focus{
    color: #fff;
  
}

.nav .d2 ul li i{

    font-size: 20px;
    color: #6f7180;
    transition-duration: 300ms;

}

.nav .d2 ul li a{
    text-decoration: none;
    color: #6f7180;
    transition-duration: 300ms;
    padding:0px 15px;
}
/* end nav */


/* start hero */
.hero{
    width: 80%;
    height: 720px;
    background-image:linear-gradient(#2f2f319a,#2626297d),url(../img/IMG-20210215-WA0065.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   background-attachment:fixed ;
   margin-left: 304px;

}
.hero .d1{
    position: absolute;
    top: 25%;
    left: 35%;
  
}
.hero .d1 h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.hero .d1 p{
    font-size: 35px;
    color: #fff;
    margin-left: -200px;
}
.hero .d1 p span{
border-bottom: 3px solid #149ddd;
}
/* end hero */
/* end sec1 */

/* start sec2 */
.sec2{
    width: 80%;
    height: 700px;
    background-color: #fff;
    margin-left: 304px;
    overflow: hidden;
}
.sec2 .d1{
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec2 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
}
.sec2 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0;
}
.sec2 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}
.sec2 .d2{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
}
.sec2 .d2 .img img{
    width: 100%;
    height: 400px;
    margin-right: 20px;
}
.sec2 .d2 .my h2{
    color: #173b6c;
    font-size: 30px;
    margin-bottom: 20px;
}
.sec2 .d2 .my {
    margin-left: 20px;
}
.sec2 .d2 .my p{
   
    line-height: 23px;
    font-size: 17px;
}
.sec2 .d2 .my .dd1{
    margin-top: 15px;
    display: flex;
}
.sec2 .d2 .my .dd1 .ddd1{
    margin-right: 100px;
}
.sec2 .d2 .my .dd1 .ddd1 ul li{
    display: flex;
    margin-bottom: 27px;
}
.sec2 .d2 .my .dd1 .ddd1 ul li i{
    color: #149ddd;
    margin-right: 5px;
    margin-top: 4px;
}
.sec2 .d2 .my .dd1 .ddd1 ul li p{
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}
.sec2 .d2 .my .dd1 .ddd1 ul li span{
    opacity: .7;
    
}
/* end sec2 */


/* start sec3 */
.sec3{
    width: 80%;
    height: 380px;
    background-color: #fff;
    margin-left: 304px;
    overflow: hidden;
}
.sec3 .d1{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec3 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
}
.sec3 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0;
}
.sec3 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}
.sec3 .d2 {
    margin-top: 50px;
   display: flex;
   justify-content: center;
}
.sec3 .d2 .dd1{
    display: flex;
    margin-right: 50px;
}
.sec3 .d2 .dd1 i{
    font-size: 55px;
    color: #149ddd;
    margin-right: 10px;
    
}
.sec3 .d2 .dd1 .ddd1{
    margin-top: -3px;
}
.sec3 .d2 .dd1 .ddd1 h2{
    font-size: 50px;
    font-weight: bold;
}
.sec3 .d2 .dd1 .ddd1 p{
    font-size: 18px;
    font-weight: bold;
}
.sec3 .d2 .dd1 .ddd1 p span{
    font-weight: 200;
    opacity: .7;
}
/* end sec3 */


/* start sec4 */
.sec4{
    width: 80%;
    height: 480px;
    background-color: #f5f8fd;
    margin-left: 304px;
    overflow: hidden;
}
.sec4 .d1{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec4 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
}
.sec4 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0;
}
.sec4 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}
.sec4 .d2{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
}
.sec4 .d2 .skals{
  width: 100%;
}
.sec4 .d2 .dd2{
    margin-bottom: 50px;
}
.sec4 .d2 span{
    font-weight: bold;
    font-size: 20px;
}
.sec4 .d2 .val{
    margin-left: 300px;
}
.sec4 .d2 .val2{
    margin-left: 335px;
}
.sec4 .d2 .val3{
    margin-left: 255px;
}
.sec4 .d2 .val11{
    margin-left: 330px;
}
.sec4 .d2 .val22{
    margin-left: 200px;
}
.sec4 .d2 .val333{
    margin-left: 250px;
}
.sec4 .d2 .bar{
    width: 70%;
    height: 8px;
    background-color: #dce8f8;
    position: relative;
    top: 7px;
}
.sec4 .d2 .bar .bar2{
    width: 100%;
    height: 8px;
    position: absolute;
    background-color: #149ddd;
  
}
.sec4 .d2 .bar .bar22{
    width: 80%;
    height: 8px;
    position: absolute;
    background-color: #149ddd;
}
.sec4 .d2 .bar .bar33{
    width: 50%;
    height: 8px;
    position: absolute;
    background-color: #149ddd;
}


.sec4 .d2 .bar .bar21{
    width: 10%;
    height: 8px;
    position: absolute;
    background-color: #149ddd;
}
.sec4 .d2 .bar .bar222{
    width: 10%;
    height: 8px;
    position: absolute;
    background-color: #149ddd;
}
.sec4 .d2 .bar .bar333{
    width: 10%;
    height: 8px;
    position: absolute;
    background-color: #149ddd;
}
/* end sec4 */

/* start sec5 */
.sec5{
    width: 80%;
    height: 1100px;
    background-color: #fff;
    margin-left: 304px;
}
.sec5 .d1{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec5 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
  
}
.sec5 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0px;
}
.sec5 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}
.sec5 .d2{
    width: 95%;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
}

/* الجنب الشمال */
.sec5 .d2 .dd1{
    margin-top: 20px;
}
.sec5 .d2 .sum{
    width: 59%;
 
}

.sec5 .d2 .dd1 .ddd1{
    margin-top: 20px;
    position: relative;
    border-left: #1f5297 2px solid;
    /* margin-left: 20px; */

}
.sec5 .d2 .dd1 .ddd1 h3{
    margin-left: 15px;
    margin-top:0px;
    font-size: 20px;
}
.sec5 .d2 .dd1 .ddd1::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    left: -9px;
    top: 0px;
    background: #fff;
    border: 2px solid #1f5297;
}
.sec5 .d2 .dd1 .ddd1 p{
    width: 600px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.sec5 .d2 .dd1 .ddd1 ul{
    margin-left: 30px;
    font-size: 18px;
}
.sec5 .d2 .dd1 .ddd1 ul li{
    width: 550px;
margin-bottom: 20px;
line-height: 25px;
opacity: .8;
font-size: 17px;

}
.sec5 .d2 .dd2{
    margin-top: 20px;
}
.sec5 .d2 .dd2 h2{
    margin-top: 30px;
    margin-bottom: 50px;
}
.sec5 .d2 .dd2 .ddd2{
    height: 200px;
    margin-top: 20px;
    position: relative;
    border-left: #1f5297 2px solid;
}
.sec5 .d2 .dd2 .ddd2  h3{
    margin-left: 20px;
    margin-top: -20px;
    font-size: 20px;
}
.sec5 .d2 .dd2 .ddd2::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    left: -9px;
    top: 0px;
    background: #fff;
    border: 2px solid #1f5297;
}
.sec5 .d2 .dd2 .ddd2  h4{
    width: 20%;
    height: 30px;
    background-color: #e4edf9;
    padding: 7px 15px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}
.sec5 .d2 .dd2 .ddd2 i,p{
    margin-left: 20px;
  
}

/* الجنب اليمين */
.sec5 .d2 .prof{
   width: 58%;
    margin-left: -40px;
}
.sec5 .d2 .dd1 .ddd12{
    height: 400px;
}
.sec5 .d2 .dd1 .ddd13{
    margin-top: -20px;
}
.sec5 .d2 .dd1 .ddd1  h4{
    width: 24%;
    height: 30px;
    background-color: #e4edf9;
    padding: 7px 15px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}
.sec5 .d2 .dd1 .ddd1 i{
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
/* end sec5 */

/* start portfolio */
.sec6{
    width: 80%;
    height: 1300px;
    background-color: #f5f8fd;
    margin-left: 304px;
 
}
.sec6 .d1{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec6 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
  
}
.sec6 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0px;
    bottom: -10px;
}
.sec6 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}
.sec6 .d2{
    width: 100%;
    margin-top: 50px;
    /* text-align: center; */
}
.sec6 .d2 .dd1{
   width: 24%;
   height: 40px;
   background-color: #fff;
   display: flex;
   border-radius: 30px;
   margin: auto;
}
.sec6 .d2 .dd1 .p1{
    color: #149ddd;
}
.sec6 .d2 .dd1 p{
     margin: auto;
      cursor: pointer;
      transition-duration: 300ms; 
}
.sec6 .d2 .dd1 p:hover{
color: #149ddd;
}
.sec6 .d2 .dd2{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    row-gap: 2%;
}
.sec6 .d2 .dd2 .img{
    width: 95%;
    height: 280px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.sec6 .d2 .dd2 .img img{

width: 100%;
height: 100%;

}
.sec6 .d2 .dd2 .img .hover1{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:-150%;
    transition-duration: 400ms; 
    z-index: 2;
    opacity: .5;
}

.sec6 .d2 .dd2 .img .hover1 .icon{
display: flex;
justify-content: center;
z-index: 1;
}
.sec6 .d2 .dd2 .img .hover1 .icon p{
width: 50%;
height: 50px;
background-color: #149ddd;
text-align: center;
margin-left: 0px;
cursor: pointer;
transition-duration: 400ms; 

}
.sec6 .d2 .dd2 .img .hover1 .icon p i{
color: #fff;
font-size: 20px;
margin-top: 10px;
}
.sec6 .d2 .dd2 .img .hover1 .icon .p1{
    border-right: 1px solid #6aa3ee;
}
.sec6 .d2 .dd2 .img .hover1 .icon p:hover{
    background-color:#0d6efd;
}
.sec6 .d2 .dd2 .img:hover .hover1{
bottom: -85%;
}
.sec6 .d2 .dd2 .img .hover2{
position: absolute;
width: 100%;
height: 100%;
opacity: .4;
top: 0px;
transition-duration: 500ms; 
}
.sec6 .d2 .dd2 .img:hover .hover2{
background-color: #fff;


}
/* end portfolio */

/* start Services */

.sec7{
    width: 80%;
    height: 600px;
    background-color: #fff;
    margin-left: 304px;
 
}
.sec7 .d1{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec7 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
    
}
.sec7 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0px;
    bottom: -10px;
}
.sec7 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}
.sec7 .d2{
    margin-left: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,30%);
    row-gap: 70px;
    column-gap: 50px;
}
.sec7 .d2 .dd1{
width: 100%;
height: 100px;
display: flex;
}
.sec7 .d2 .dd1 h5{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
  
}
.sec7 .d2 .dd1 i{
    position: absolute;
    padding: 17px;
    font-size: 22px;
    color: #fff;
    transition-duration: 300ms;
    border: 1px solid #149ddd;
    border-radius: 50%;
    background-color: #149ddd;
}
.sec7 .d2 .dd1:hover i{
    background-color: #fff;
    color: #149ddd;
}
.sec7 .d2 .dd1 .ddd1{
    margin-left: 20px;
}
.sec7 .d2 .dd1 .ddd1 h3{
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 300ms;

}
.sec7 .d2 .dd1 h3:hover {
    color: #149ddd;
}
.sec7 .d2 .dd1 .ddd1 p{
    margin-left: 0px;
    line-height: 25px;
    opacity: .7;
}
/* end Services */

/* start Testimonials */
.sec8{
    width: 80%;
    height:600px;
    background-color: #f5f8fd;
    margin-left: 304px;
 
}
.sec8 .d1{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec8 .d1 h2{
    font-size: 30px;
    color: #173b6c;
    position: relative;
    
}
.sec8 .d1 h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0px;
    bottom: -10px;
}
.sec8 .d1 p{
    margin-top: 20px;
    font-size: 17px;
    opacity: .8;
    line-height: 25px;
}

.sec8 .container{
    margin-top: 0px;
    position: relative;
}

.swiper{
    width: 1100px;
    
}
.section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0px;
}
.section .card .image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 3px;
    background-color: #149ddd;
    object-fit: cover;
}
.section .card .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .card {
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    margin: 20px 0;
   
}
.section .card::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #0d6efd;
    border-radius: 20px 20px  0 0;
    left: 0;
    top: 0;
}
.section .card .card-content{
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
}
.section .card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section .card .media-icons i{
    color: #fff;
    opacity: .7;
    margin-top: 10px;
    cursor: pointer;
    transition-duration: 200ms;
}
.section .card .media-icons i:hover{
    opacity: 1;
}
.section .card .nam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section .card .nam .name{
    font-size: 20px;
    font-weight: bold;

    
}
.section .card .nam .port{
    font-size: 25px;
    font-weight: 600px;

}
.section .card .stars{
    display: flex;
    justify-content: center;
    color: #0d6efd;
    margin-top: 10px;
}
.section .card .stars i{
    margin: 0 2px;
}
.section .mmmm{
    position: absolute;
    bottom: 0px; 
}

/* end Testimonials */

/* start contact */
.inform{
    display: flex;
    margin-left: 304px;
    column-gap: 5%;
    margin-bottom: 7%;
    margin-top: 2%;

}
.inform .form1{
    width: 400px;
    height: 620px;
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    margin-left: 50px;
}
 .inform .form2{
    width: 530px;
    height: 620px;
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}
.inform .form1 .for{
    display: flex;
    column-gap: 7%;
    padding: 5%;
    width: 100%;
}
.inform .form1 .for .for1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c4e2ff;
    border:2px solid #c4e2ff;
    text-align: center;
    transition-duration: 1s;
    
}
.inform .form1 .for .for1 i{
    font-size: 22px;
    color: rgb(1, 120, 160);
    padding-top: 25%;
}
.inform .form1 .for .for2 p{
    font-size: 14px;
    line-height: 24px;
    color: #132d4f;
}
.inform .form1 .for .for2 h4{
    margin-bottom: 2%;
    font-size: 26px;
}
.inform .form1 .for:hover .for1 {
    background-color: #409ec7;
    border: 1px solid #409ec7;
}
.inform .form1 .for:hover .for1 i{
    color: #fff;
}
.inform .form1 .map iframe{
    width: 350px;
    height: 280px;
    border: 20px;
    margin-top: 5%;
    margin-left: 25px;

}
.inform .form2 form{
    margin: 5%;
}
.inform .form2 form input,textarea{
    padding: 10px;
    font-size: 20px;
}
.inform .form2 form .massage{
    display: flex;
    column-gap: 5%;
}
.inform .form2 form .massage .name label{
    display: block;
    margin-bottom: 2%;
    font-size: 19px;
    color: #767676;
}
.inform .form2 form .massage .name input{
    width: 230px;
    height: 35px;
}
.inform .form2 form .mo{
    margin-top: 5%;
}
.inform .form2 form .mo label{
    display: block;
    margin-bottom: 2%;
    font-size: 19px;
    color: #767676;
}
.inform .form2 form .mo input{
    width: 485px;
    height: 35px;
}
.inform .form2 form .mo2{
    margin-top: 5%;
}
.inform .form2 form .mo2 label{
    display: block;
    margin-bottom: 2%;
    font-size: 19px;
    color: #767676;
}
.inform .form2 form input[type="submit"]{
    width: 150px;
    height:45px;
    margin-left:40%;
    border-radius:20px ;
    margin-top: 5%;
    background-color: #0d6efd;
    border:2px solid #0d6efd;
    color: #fff;
    transition-duration: .5s;
    padding: 0%;
}
.inform .form2 form input[type="submit"]:hover{
    background-color: #6aa6ff;
    border:2px solid #6aa6ff;
}
/* end contact */